@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #FFF0DB;
$beige-lighter: #FAF0E6;
$darker-grey: #222;
$androc-hero: #d3d3d3;
$turquoise-dark: #00CED1;



// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $androc-hero;
$primary: $purple;
$link: $turquoise-dark;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$footer-background-color: $darker-grey 
$footer-color: $beige-light
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;



@import node_modules/bulma/sass/utilities/all
@import node_modules/bulma/sass/base/all
@import node_modules/bulma/sass/elements/all
@import node_modules/bulma/sass/components/all
@import node_modules/bulma/sass/grid/all
@import node_modules/bulma/sass/layout/all

body
  font-family: Roboto
  background: white 

h1
  color: blue

.columns
  //border: 0.5px solid red

.footer
  background-color: $footer-background-color

.content h2
  color: $footer-color

.hero-body
  background: $grey-light; 

.box:hover
  background: $darker-grey

.box
  height: 100%

.card
  border-radius: 3px
  height: 100%

.card:hover
  box-shadow: 3px 4px 6px #999;

.image img 
  padding: 6px

.navbar
  background: #a2a2a2

.icon
  padding: 10px

.section
  border-bottom: 0.5px solid $grey-light

// Handle the transperent backround for the text in hero
.clip
  background: linear-gradient( to  right, #bbb, #aaa,  red  );
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
